<div class="container-fluid">
  <div class="row">
      <div class="col-lg-12">
					<div class="page-header">
						<h1>About SpeedUp</h1>
					</div>

					This tool is designed to help DTU students to create projects with more ease.
					<br>
					It has all the elements of SCRUM.
					<br>
					It is designed such that students are guided by a TA which is the Scrum Master 
					 and the teacher which is the Product Owner.
					<br>
					But a project can function without the teachers guidance. A student can appoint 
					 itself as being Scrum Master, and fulfill all of its roles. The same goes
					 for Product Owner.

					<br><br>
					For more informations about SCRUM, visit:
					<a href="http://www.allaboutagile.com/how-to-implement-scrum-in-10-easy-steps/">10 Easy Steps for learning Scrum</a>
					<br>
      </div>
  </div>
</div>  

