<h4>New Release <small> Must have attached a sprint</small></h4>

<%= render 'form', release: @release %>

<br>
<%= link_to 'Close', {controller: "projects", action: "close_popup"},
 remote: true, class: "btn btn-primary" %>