<div id="releases_content" class="table-responsive">
  <table class = "table table-bordered table-striped">
     <thead>
        <tr>
           <th>Name</th>
           <th>Description</th>
           <th>No. Documents</th>
           <th>Status</th>
           <th>Actions</th>
        </tr>
     </thead>
     <tbody>
        <% if @releases.empty? %>
          <tr>
            <td></td>
            <td align="center">No releases yet</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        <% else %>
            <% @releases.each do |release| %>
        			 <%= render :partial => 'releases/release', :object => release %>
            <% end %>
        <% end %>
     </tbody>
  </table>

  <% if current_user.has_role? :product_owner, @project %>
  	<%= link_to "Create Release", new_release_path(project_id: project_id), remote: true, class: "btn btn-primary" %>
  <% end %>

  <br>
</div>