<tr>
  <td>
  	<%= retrospective.name %>
  </td>
  <td>
  	<%= retrospective.description_good %>
  </td>
  <td>
  	<%= retrospective.description_bad %>
  </td>
  <td>
  	<%= retrospective.description_future %>
  </td>
</tr>